<section>
  <main class="main">
    <app-search (emmitSearch)="getSearch($event)"></app-search>
  </main>
  <main class="main">
    <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons"> 
      <!-- <a [routerLink]="['detalhes']" [queryParams]="{id: pokemon.status.id}" *ngIf="pokemon.status"> -->
        <a [routerLink]="['detalhes', pokemon.status.id]" *ngIf="pokemon.status">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{pokemon.name}}</mat-card-title>
            <div *ngFor="let value of pokemon?.status?.types" class="tipo">
              <mat-card-subtitle>{{value.type.name}}</mat-card-subtitle>
            </div>
          </mat-card-header>
          <div class="image">
            <img [src]="pokemon.status.sprites.other.dream_world.front_default" alt="Photo of a Shiba Inu">
          </div>
        </mat-card>
      </a>
    </ng-template>
  </main>
</section>