<section>
  <mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image">
        <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
      </div> -->
      <mat-card-title>Nome</mat-card-title>
      <mat-card-subtitle>Descricao</mat-card-subtitle>
    </mat-card-header>
    <div class="image">
      <img src="" alt="Photo of a Shiba Inu">
    </div>
  </mat-card>
</section>