section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    app-search {
      width: 100%;
    }
  }
  .example-card {
    width: 250px;
    height: 300px;
    margin: 1rem;
    .image {
      max-width: 100%;
      max-height: 100%;
      img {
        width: 50%;
        display: flex;
        margin: auto;
        position: absolute;
        bottom: 5px;
        right: 0;
        left: 0;
      }
    }
  }
}

a {
  text-decoration: none;
}
.tipo {
  display: flex;
  margin: 0 0.3rem;
  mat-card-subtitle {
    background: #4050b5;
    border-radius: 3px;
    text-align: center;
    padding: 0.2rem;
    color: #ffffff;
  }
}
