<mat-toolbar color="primary" class="menu">
    <div>
        <div class="logo">
            <div>
                <ng-lottie 
                    [styles]="pokebolaStyle"
                    [options]="pokebola" 
                    (animationCreated)="animationCreated($event)">
                </ng-lottie> 
            </div>
            <div class="custon-text">
                <button mat-button color="basic" (click)="goToHome()">
                    Pokémon
                </button>
            </div>
        </div>
        <span class="example-spacer"></span>
    </div>
    <div>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="goToLogout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
</mat-toolbar>