.menu {
    justify-content: space-between;
    div {
        display: flex;
        align-items: center;
        color: #ffffff ;
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .circulo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      margin: 15px;
      transition: 0.3s ease;
      &:hover {
        transform: rotateY(180deg);
      }
    }
    .custon-text{
        margin: 0;
        color: #fff;
        button {
            font-size: 1.5rem;
        }
    }
    .lime {
      background: transparent;
      border-top-width: 0px;
      border-right-color: #fff;
      border-right-style: solid;
      border-right-width: 4px;
      border-bottom-width: 0px;
      border-left-width: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    
      span {
        color: #fff;
        font-size: 20px;
        margin: 0;
      }
    }
}